.build {
	position: relative;
	padding-top: 25px;

	&__top {
		@include flex-center-sb;
		margin-bottom: 25px;
	}

	&__title {
		margin-right: 10px;
		color: $black;
		font-weight: $fw-500;
		@include adaptiv-value('font-size', 32, 28, 1);
		line-height: 0.5;

        @include mq(lg) {
            margin: 0 auto;
        }
	}

	&__back {
		position: relative;
		padding: 22px 42px 22px 66px;
		font-size: 14px;
		line-height: 1;
		background-color: $white;
		border-radius: 5px;

		&::before {
			position: absolute;
			top: 50%;
			left: 32px;
			width: 12px;
			height: 8px;
			background-image: url('../img/icons/back.svg');
			transform: translateY(-50%);
			content: '';
			@include bg-conatin;
		}

		@include mq(lg) {
			display: none;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@include mq(lg) {
			flex-direction: column;
			justify-content: center;
			margin-bottom: 65px;
		}
	}
}

.build-text {
	@include mq(lg) {
		display: none;
	}

	&--mobile {
		display: none;

		@include mq(lg) {
			display: block;
			margin-bottom: 50px;
		}
	}

	&__title {
		display: block;
		margin-bottom: 20px;
		color: $black;
		font-weight: $fw-600;
		font-size: 18px;

		@include mq(lg) {
			text-align: center;
		}
	}

	&__content {
		@include adaptiv-value('font-size', 14, 10, 1);
	}
}
