.answer {
	position: relative;
	z-index: 1;
	color: $white;
	text-align: center;
	background-color: $violet-400;
	@include adaptiv-value('padding-top', 445, 320, 1);
	@include adaptiv-value('padding-bottom', 124, 100, 1);
	@include adaptiv-value('margin-top', -305, -216, 1);
	@include adaptiv-value('margin-bottom', 64, 50, 1);

	&::before,
	&::after {
		position: absolute;
		z-index: -1;
		content: '';
	}

	&::before {
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 568px;
		background-image: url('../img/answer-decor.png');
		@include bg-cover;
	}

	&::after {
		top: 129px;
		left: 50%;
		width: 100%;
		background-image: radial-gradient(
			50% 50% at 50% 50%,
			#2b1b8e 0,
			rgba(59, 43, 163, 0) 100%
		);
		transform: translateX(-50%);
		@include adaptiv-value('max-width', 860, 390, 1);
		@include adaptiv-value('height', 320, 145, 1);
	}

	&__title {
		margin-bottom: 18px;
		font-weight: $fw-700;
		@include adaptiv-value('font-size', 36, 28, 1);
	}

	&__text {
		@include adaptiv-value('margin-bottom', 40, 30, 1);
	}

	&__link {
		max-width: fit-content;
		margin: 0 auto;
        padding: 22px 62px;
	}
}
