.breadcrums {
	color: $white;
	background-color: $violet-400;
	@include adaptiv-value('padding-top', 90, 25, 1);
	@include adaptiv-value('padding-bottom', 50, 25, 1);
	border-radius: 5px;

	&__title {
		color: $white;
		@include adaptiv-value('margin-bottom', 25, 15, 1);
        line-height: 0.5;

        &--only {
            text-align: center;

            @include mq(lg) {
                text-align: left;
            }
        }
	}

	&__items {
		display: flex;
		align-items: center;
		@include adaptiv-value('font-size', 14, 10, 1);
	}

	&__item {
		position: relative;
		padding-right: 10px;
        line-height: 1.2;

		&::before {
			position: absolute;
			top: 0;
			right: 2px;
			font-size: inherit;
			content: '/';
		}

		&:last-child {
			&::before {
				display: none;
			}
		}
	}
}
