.breadcrums {
	color: $white;
	background-color: $violet-400;
	@include adaptiv-value('padding-top', 90, 25, 1);
	@include adaptiv-value('padding-bottom', 50, 25, 1);

	&__title {
		color: $white;
		@include adaptiv-value('margin-bottom', 25, 15, 1);
	}

	&__items {
		display: flex;
		align-items: center;
		@include adaptiv-value('font-size', 14, 10, 1);
	}

	&__item {
		position: relative;
        padding-right: 10px;

		&::before {
			position: absolute;
			right: 2px;
			font-size: inherit;
			content: '/';
            top: 0;

		}

		&:last-child {
            &::before {
                display: none;
            }
        }
 	}
}
