.header {
	@include adaptiv-value('padding-top', 24, 15, 1);
	@include adaptiv-value('padding-bottom', 24, 15, 1);

	&--background {
		background-color: $grey-100;
	}

	&__nav {
		@include flex-center-sb;
	}

	&__logo {
		z-index: 10;
		margin-right: 12px;
		transform: translateY(5px);
	}
}

.menu {
	display: flex;
	align-items: center;
	margin-right: 12px;

	@include mq(lg) {
		position: absolute;
		top: -100%;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		padding: 94px 20px 30px;
		overflow-y: auto;
		background-color: $grey-100;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.4s, top 0.4s;
	}

	&--active {
		@include mq(lg) {
			top: 0;
			visibility: visible;
			opacity: 1;
		}
	}

	&__items {
		display: flex;
		align-items: center;
		margin-right: 30px;

		@include mq(lg) {
			flex-direction: column;
			margin-right: 0;
			margin-bottom: 50px;
		}
	}

	&__item {
		&:not(:last-child) {
			@include adaptiv-value('margin-right', 30, 20, 1);

			@include mq(lg) {
				margin-right: 0;
				margin-bottom: 50px;
			}
		}
	}

	&__link {
		position: relative;

		&::before {
			position: absolute;
			bottom: -15px;
			left: 0;
			width: 20px;
			height: 2px;
			background-color: transparent;
			border-radius: 5px;
			transition: background-color 0.4s;
			content: '';

			@include mq(lg) {
				left: 50%;
				transform: translateX(-50%);
			}
		}

		&--active {
			color: $black;
			font-weight: $fw-600;

			&::before {
				background-color: $violet-400;
			}
		}
	}

	&__button {
		padding: 20px 54px;
	}

	&__drop {
		position: absolute;
		bottom: 0;
		left: 50%;
		z-index: 2;
		display: none;
		width: 250px;
		padding: 20px;
		background-color: $violet-400;
		border-radius: 12px;
		transform: translate(-50%, 100%);
	}

	&__user {
		position: relative;

		@include mq(lg) {
			display: none;
		}

		&:hover {
			.menu__drop {
				display: block;
			}
		}
	}

	&__registr {
		color: $black;
		background-color: $white;

		&--sign {
			color: $white;
			background-color: transparent;
			border: 1px solid $white;
		}

		&--mobile {
			display: none;

			@include mq(lg) {
				display: flex;
				color: $white;
				background-color: $violet-400;
			}
		}
	}

	&__account {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.burger {
	z-index: 10;
	display: none;
	@include burger;

	@include mq(lg) {
		display: flex;
	}
}
