.header {
	padding: 15px 0;

	&--background {
		background-color: $grey-100;
	}

	&--mobile {
		display: none;

		@include mq(xl) {
			display: block;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
	}

	&__logo {
		z-index: 10;
		margin-right: 12px;
		transform: translateY(5px);
	}

	&__cart {
		position: relative;
		width: 24px;
		height: 24px;
		font-size: 0;

		@include mq(xl) {
			width: unset;
			max-width: 100%;
			height: unset;
			margin-right: 20px;
			margin-left: auto;
			font-size: 0;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 20px;
			height: 20px;
			background-image: url('../img/icons/cart.svg');
			transform: translate(-50%, -50%);
			content: '';
			@include bg-conatin;

			@include mq(xl) {
				left: -20px;
			}
		}
	}

	&__number {
		position: absolute;
		top: 0;
		right: 0;
		width: 16px;
		height: 16px;
		color: $white;
		font-size: 8px;
		background-color: $red-400;
		border-radius: 50%;
		transform: translate(50%, -50%);
		@include flex-all-center;

		@include mq(xl) {
			display: none;
		}
	}
}

.menu {
	display: flex;
	align-items: center;
	margin-right: 12px;
	margin-left: auto;

	@include mq(xl) {
		position: absolute;
		top: -100%;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		margin-right: 0;
		padding: 94px 20px 30px;
		overflow-y: auto;
		background-color: $grey-100;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.4s, top 0.4s;
	}

	&--active {
		@include mq(xl) {
			top: 0;
			visibility: visible;
			opacity: 1;
		}
	}

	&__items {
		display: flex;
		align-items: center;
		margin-right: 30px;

		@include mq(xl) {
			flex-direction: column;
			margin-right: 0;
			margin-bottom: 50px;
		}
	}

	&__item {
		&:not(:last-child) {
			@include adaptiv-value('margin-right', 30, 20, 1);

			@include mq(xl) {
				margin-right: 0;
				margin-bottom: 50px;
			}
		}
	}

	&__link {
		position: relative;

		&::before {
			position: absolute;
			bottom: -15px;
			left: 0;
			width: 20px;
			height: 2px;
			background-color: transparent;
			border-radius: 5px;
			transition: background-color 0.4s;
			content: '';

			@include mq(xl) {
				left: 50%;
				transform: translateX(-50%);
			}
		}

		&--active {
			color: $black;
			font-weight: $fw-600;

			&::before {
				background-color: $violet-400;
			}
		}
	}

	&__design {
		padding: 22px 24px;
		@include adaptiv-value('margin-right', 25, 5, 1);

		@include mq(xl) {
			order: 1;
			margin-right: 0;
		}
	}
}

.nav-user {
	position: relative;
	margin-right: 20px;

	@include mq(xl) {
		margin-right: 0;
		margin-bottom: 40px;
		font-size: 14px;
	}

	&:hover {
		.nav-user__drop {
			display: block;

			@include mq(xl) {
				display: none;
			}
		}
	}

	&__button {
		position: relative;
		width: 24px;
		height: 24px;
		font-size: 0;

		@include mq(xl) {
			width: unset;
			max-width: 100%;
			height: unset;
			font-size: 14px;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 20px;
			height: 20px;
			background-image: url('../img/icons/account.svg');
			transform: translate(-50%, -50%);
			content: '';
			@include bg-conatin;

			@include mq(xl) {
				left: -20px;
			}
		}
	}

	&__drop {
		position: absolute;
		bottom: 0;
		left: 50%;
		z-index: 2;
		display: none;
		width: 230px;
		padding-top: 27px;
		transform: translate(-50%, 100%);
	}

	&__items {
		position: relative;
		padding: 20px;
		background-color: $white;
		border-radius: 14px;
		box-shadow: 0 40px 40px rgba(114, 117, 119, 0.25);

		&::before {
			position: absolute;
			top: 0;
			right: 50%;
			width: 19px;
			height: 19px;
			background-color: $white;
			transform: rotate(45deg) translateY(-100%);
			content: '';
		}
	}

	&__registr {
		color: $white;
		background-color: $black;

		&--sign {
			color: $black;
			background-color: transparent;
			border: 1px solid $black;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.burger {
	z-index: 10;
	display: none;
	@include burger;

	@include mq(xl) {
		display: flex;
	}
}
