.checkout-basic {
	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__items {
		display: flex;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		.checkout-basic__item {
			&:not(:last-child) {
				margin-right: 12px;
				margin-bottom: 0;
			}
		}
	}
}