/* stylelint-disable */

@mixin bg-cover {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@mixin bg-conatin {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

@mixin flex-all-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-all-center-v {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

@mixin flex-center-sb-v {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

@mixin flex-center-sb {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-v-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex-v-sb {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@mixin psevde {
	position: relative;

	&::before {
		position: absolute;
		content: '';
	}
}

@mixin slider-arrow {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid $grey-300;
	margin-top: 0;

	&:not(:last-child) {
		@include adaptiv-value('margin-right', 70, 50, 1);
	}

	&::after {
		top: 50%;
		left: 0;
		width: 14px;
		height: 14px;
		font-size: 0;
		background-image: url('../img/icons/arrow-small.svg');
		@include bg-conatin;
		filter: invert(66%) sepia(98%) saturate(2642%) hue-rotate(233deg)
			brightness(105%) contrast(107%);
	}

	&--prev {
		&::after {
			transform: translateX(-5%) rotate(90deg);
		}

        &::before {
            position: absolute;
            content: "";
            height: 1px;
            background-color: $grey-300;
            top: 50%;
            @include adaptiv-value('width', 30, 20, 1);
            @include adaptiv-value('right', -40, -25, 1);
            transform: translateY(-50%);
        }
	}

	&--next {
		&::after {
			transform: translateX(-5%) rotate(-90deg);
		}
	}
}

@mixin image-set($pathToImage) {
	background-image: url('#{$pathToImage}.jpg');
	/* stylelint-disable-next-line declaration-block-no-duplicate-properties */
	background-image: image-set(
		/* stylelint-disable-next-line function-comma-newline-after */
			'#{$pathToImage}.avif'type('image/avif'),
		'#{$pathToImage}.webp'type('image/webp'),
		'#{$pathToImage}.jpg'type('image/jpg')
	);
}

@mixin blackout {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: $black;
	transition: opacity 0.3s;
}
