<article class="product-card">
    <a class="product-card__images" href="#">
        <div class="product-card__picture">
            <picture>
                <source srcset="img/product-card/@img.avif" type="image/avif">
                <source srcset="img/product-card/@img.webp" type="image/webp">
                <img class="product-card__img" src="img/product-card/@img.jpg" alt="@alt" width="334" height="392" loading="lazy">
            </picture>
        </div>
        <div class="product-card__picture">
            <picture>
                <source srcset="img/product-card/@img.avif" type="image/avif">
                <source srcset="img/product-card/@img.webp" type="image/webp">
                <img class="product-card__img" src="img/product-card/@img.jpg" alt="@alt" width="334" height="392" loading="lazy">
            </picture>
        </div>
    </a>
    <h3 class="product-card__title">
        @title
    </h3>
    <span class="product-card__color">@color</span>
    <span class="product-card__price">$@price</span>
</article>