<footer class="footer @class">
  <div class="footer__top">
    <div class="footer__container container">
        <a class="footer__logo logo logo--large" href="#">
           <picture>
              <source srcset="img/logo.avif" type="image/avif">
              <source srcset="img/logo.webp" type="image/webp">
              <img class="logo__img" src="img/logo.png" alt="logo" width="384" height="48" loading="lazy">
           </picture>
        </a>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__container">
        © Copyright 2022 wolumenzeit - All rights reserved.
    </div>
  </div>
</footer>
