<header class="header @class">
    <div class="container">
        <nav class="header__nav">
            <a class="header__logo logo" href="#">
                <picture>
                    <source srcset="img/logo.avif" type="image/avif">
                    <source srcset="img/logo.webp" type="image/webp">
                    <img class="logo__img" src="img/logo.png" alt="logo" width="384" height="48" loading="lazy">
                </picture>
            </a>
            <div class="menu" data-menu>
                <ul class="menu__items">
                    <li class="menu__item">
                        <a class="menu__link menu__link--active" href="#">Watches</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Accessories</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Jewelry</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Brand</a>
                    </li>
                </ul>
                <a class="menu__design button" href="#">
                    Design you watch
                </a>
                <div class="nav-user">
                    <div class="nav-user__account">
                        <button class="nav-user__button nav-user__button--account" type="button">
                            My Account
                        </button>
                        <div class="nav-user__drop">
                            <ul class="nav-user__items">
                                <li class="nav-user__item">
                                    <a class="nav-user__registr button" href="#">
                                        Log in
                                    </a>
                                </li>
                                <li class="nav-user__item">
                                    <a class="nav-user__registr nav-user__registr--sign button" href="#">
                                        sign up
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button class="nav-user__button nav-user__button--cart" type="button" data-graph-path="cart">
                        Cart
                        <span class="nav-user__count">5</span>
                    </button>
                </div>
            </div>
            <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <span class="burger__line"></span>
            </button>
        </nav>
    </div>
</header>