<button class="btn-thank" data-graph-path="thank"></button>
<div class="thank-blackout"></div>

<div class="graph-modal">
    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="cart">
        <div class="graph-modal__box">
            <div class="graph-modal__content">
                <div class="graph-modal__header">
                    <span class="graph-modal__title">your cart</span>
                    <button class="graph-modal__close js-modal-close" aria-label="Close cart"></button>
                </div>
                <div class="graph-modal__inner">
                    <ul class="graph-modal__products">
                        <li class="graph-modal__product">
                            @include('./../components/cards/_product-card.html', {
                            'card' : 'small',
                            'img' : '4',
                            'alt' : 'Volumenzeit S 7',
                            'title' : 'Volumenzeit S 7',
                            'color' : 'Lavander Spark',
                            'price' : '15,588',
                            'case-color' : 'charcoal-stone',
                            'dial-color' : 'fuchsia-tinge'
                            })
                        </li>
                        <li class="graph-modal__product">
                            @include('./../components/cards/_product-card.html', {
                            'card' : 'small',
                            'img' : '1',
                            'alt' : 'Volumenzeit S 7',
                            'title' : 'Volumenzeit S 7',
                            'color' : 'Lavander Spark',
                            'price' : '15,588',
                            'case-color' : 'charcoal-stone',
                            'dial-color' : 'fuchsia-tinge'
                            })
                        </li>
                    </ul>
                    <button class="graph-modal__add button" type="button">
                        Add A Matching Item
                    </button>
                    <ul class="graph-modal__more">
                        <li class="graph-modal__additional">
                            @include('./../components/cards/_product-card.html', {
                            'card' : 'additional',
                            'img' : '4',
                            'alt' : 'Volumenzeit S 7',
                            'title' : 'Volumenzeit S 7',
                            'color' : 'Lavander Spark',
                            'price' : '15,588',
                            'case-color' : 'charcoal-stone',
                            'dial-color' : 'fuchsia-tinge'
                            })
                        </li>
                        <li class="graph-modal__additional">
                            @include('./../components/cards/_product-card.html', {
                            'card' : 'additional',
                            'img' : '1',
                            'alt' : 'Volumenzeit S 7',
                            'title' : 'Volumenzeit S 7',
                            'color' : 'Lavander Spark',
                            'price' : '15,588',
                            'case-color' : 'charcoal-stone',
                            'dial-color' : 'fuchsia-tinge'
                            })
                        </li>
                    </ul>
                </div>
                <div class="graph-modal__bottom">
                    <div class="graph-modal__results">
                        <div class="graph-modal__result">
                            <span class="graph-modal__name">Shupping UPS Standard</span>
                            <span class="graph-modal__price">$12</span>
                        </div>
                        <div class="graph-modal__result">
                            <span class="graph-modal__name">Discount 15% Off</span>
                            <span class="graph-modal__price">$1250</span>
                        </div>
                        <div class="graph-modal__result graph-modal__result--total">
                            <span class="graph-modal__name">Grand Total</span>
                            <span class="graph-modal__price">$24,588</span>
                        </div>
                    </div>
                    <a class="graph-modal__link button" href="#">
                        Go To Checkout
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="graph-modal__container graph-modal__container--thank" role="dialog" aria-modal="true" data-graph-target="thank" id="thank">
        <div class="graph-modal__box">
            <div class="graph-modal__content">
                <div class="graph-modal__inner">
                    <span class="graph-modal__title">Thanks For ORdering</span>
                    <p class="graph-modal__text">
                        Your order is on the ready and we will ship it asap!
                    </p>
                    <a class="graph-modal__link button" href="#">Return to Home page</a>
                </div>
                <div class="graph-modal__bg" style="background-image: url('img/thank.png');"></div>
            </div>
        </div>
    </div>
</div>