.checkout-coupon {
	&__label {
		display: inline-block;
		margin-bottom: 12px;
		color: $black;
		font-weight: $fw-600;
		font-size: 20px;
		line-height: 0.7;
	}

	.form__field {
		border: 1px solid $grey-400;
	}

	&__content {
		position: relative;
	}

	&__state {
		position: absolute;
		top: 50%;
		right: 10px;
		padding: 10px 14px;
		font-size: 14px;
		line-height: 1;
		border-radius: 15px;
		transform: translateY(-50%);

		&--success {
			color: $green-400;
			background-color: rgba($green-400, 0.1);
		}

		&--error {
			color: $red-400;
			background-color: rgba($red-400, 0.1);
		}
	}
}
