.product-card {
	color: $black;
	line-height: 1;
	text-align: center;

	&__images {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 392px;
		margin-bottom: 25px;

		&:hover {
			.product-card__picture {
				&:first-child {
					visibility: hidden;
					opacity: 0;
				}

				&:last-child {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}

	&__picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: opacity 0.4s;

		&:last-child {
			visibility: hidden;
			opacity: 0;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}

	&__title {
		margin-bottom: 12px;
		font-size: 20px;
	}

	&__color {
		display: block;
		margin-bottom: 20px;
		color: $grey-500;
		font-size: 16px;
	}

	&__price {
		display: block;
		font-size: 26px;
	}

	&__chars {
		display: flex;
		justify-content: space-between;
	}

	&__char {
		display: flex;
		align-items: center;
		color: $grey-500;
		font-size: 10px;

		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__preview {
		width: 20px;
		height: 20px;
		margin-right: 7px;
		object-fit: cover;
		border-radius: 7px;
	}

	&--small {
		position: relative;
		display: flex;
		align-items: center;
		padding-bottom: 14px;

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $grey-400;
			content: '';
		}

		.product-card__images {
			max-width: 88px;
			height: 103px;
			margin-right: 15px;
			margin-bottom: 0;
			border-radius: 8px;
		}

		.product-card__picture {
			visibility: visible;
			opacity: 1;
		}

		.product-card__info {
			text-align: left;
		}

		.product-card__price {
			margin-bottom: 15px;
		}

		.product-card__title,
		.product-card__price {
			font-size: 14px;
		}

		.product-card__title,
		.product-card__color {
			margin-bottom: 9px;
		}

		.product-card__color {
			font-size: 10px;
		}
	}
}
