.product {
	@include adaptiv-value('padding-top', 70, 25, 1);
	@include adaptiv-value('padding-bottom', 115, 50, 1);

	&__wrapper {
		display: flex;

		@include mq(lg) {
			flex-direction: column;
		}
	}

	&__swiper {
		width: 100%;
		max-width: 730px;
		margin-right: 20px;

		@include mq(lg) {
			flex-direction: column;
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 56px;
		}

		@include mq(sm) {
			max-width: 90%;
			margin: 0 auto 56px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 350px;

		@include mq(lg) {
			max-width: 60%;
			margin: 0 auto;
		}

		@include mq(md) {
			max-width: 80%;
		}

		@include mq(sm) {
			max-width: 100%;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: 2fr 2fr;
		gap: 28px;

		@include mq(lg) {
			max-width: 80%;
			margin: 0 auto;
		}

		@include mq(md) {
			max-width: 100%;
		}

		@include mq(sm) {
			display: flex;
			grid-template-columns: unset;
			gap: unset;
			margin-bottom: 30px;
		}
	}

	&__item {
		position: relative;
		height: 367px;

		@include mq(sm) {
			height: 70vh;
		}
	}

	picture,
	&__img {
		display: inline-block;
		width: 100%;
		height: 100%;
		border-radius: 6px;
	}

	&__img {
		object-fit: cover;
	}

	&__arrows {
		display: none;

		@include mq(sm) {
			@include flex-all-center;
		}
	}

	&__arrow {
		@include slider-arrow;
	}

	&__title {
		@include adaptiv-value('font-size', 30, 28, 1);
		margin-bottom: 15px;
		color: $black;
		font-weight: $fw-500;
		line-height: 0.4;
	}

	&__subtitle {
		display: inline-block;
		margin-bottom: 17px;
		font-size: 14px;
		line-height: 1.2;
	}

	&__text {
		font-size: 12px;
		@include adaptiv-value('margin-bottom', 34, 30, 1);
	}

	&__title,
	&__subtitle,
	&__text {
		@include mq(lg) {
			text-align: center;
		}
	}

	.characteristic {
		margin-bottom: 22px;
		padding: 14px 0 28px;

		@include mq(lg) {
			order: 1;
			margin-bottom: 0;
			padding: 0;
		}

		&::before,
		&::after {
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: $grey-400;
			content: '';

			@include mq(md) {
				display: none;
			}
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}
	}
}
