.filters-check {
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 40px);
		gap: 11px;

		&:not(:last-child) {
			margin-bottom: 6px;
		}
	}

    &__item {
        position: relative;

		&::before {
			position: absolute;
			bottom: -30px;
			left: 0;
			width: 80px;
			color: $white;
			font-size: 8px;
			line-height: 3;
			text-align: center;
			background-color: $black;
			border-radius: 3px;
			transform: translateX(-30%);
			opacity: 0;
			transition: opacity 0.4s;
			content: attr(data-title);
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
    }

	&__hidden {
		@include hidden;

		&:checked + .filters-check__visible {
			border-color: $violet-400;
		}
	}

	&__visible {
		display: block;
		width: 39px;
		height: 39px;
		border: 2px solid transparent;
		border-radius: 10px;
		cursor: pointer;
		@include bg-cover;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}
}
