.filters {
	position: relative;
	align-self: self-start;
	width: 100%;
	max-width: 255px;
	margin-right: 28px;
	padding: 43px 50px 93px 0;
	font-size: 12px;

	&::before,
	&::after {
		position: absolute;
		top: 0;
		z-index: -1;
		width: 100vw;
		height: 100%;
		background-color: $grey-100;
		content: '';
	}

	&::before {
		right: 0;
	}

	&::after {
		display: none;

		@include mq(md) {
			display: block;
		}
	}

	@include mq(md) {
		margin-bottom: 50px;
		padding: 36px 0;
	}

	&__top {
		display: none;

		@include mq(md) {
			@include flex-center-sb;
		}
	}

	&__title {
		margin-right: 10px;
		color: $black;
		font-size: 28px;
		font-family: $space;
		line-height: 1;
	}

	&__open {
		flex: 0 0 55px;
		width: 55px;
		height: 55px;
		background-image: url('../img/icons/arrow-up.svg');
		background-size: 36px 20px;
		border: 1px solid $violet-400;
		border-radius: 5px;
		@include bg-conatin;
	}

	&__content {
		@include mq(md) {
			display: none;
			padding-top: 30px;
		}

		&--active {
			@include mq(md) {
				display: block;
			}
		}
	}

	&__items {
		margin-bottom: 27px;
	}

	&__item {
		&:not(:last-child) {
			position: relative;
			margin-bottom: 12px;
			padding-bottom: 12px;

			&::before {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $grey-400;
				content: '';
			}
		}
	}

	&__subtitle {
		display: inline-block;
		margin-bottom: 12px;
		color: $black;
		font-weight: $fw-600;
		font-size: 10px;
		line-height: 2;
	}

    &__btn {
        width: 100%;
    }

	.form {
		&__field {
			padding: 7px;
			font-size: 12px;
		}
	}
}

.filters-search {
    .form {
        &__field {
            padding-left: 16px;
        }
    }
}