.filters-price {
	&__content {
		display: flex;
        align-items: center;

        *:not(:last-child) {
            margin-right: 12px;
        }
	}

	.form {
		&__field {
			width: 100%;
			max-width: 76px;
            text-align: center;
		}
	}
}