.watches {
	@include adaptiv-value('padding-top', 103, 78, 1);

	@include mq(md) {
		text-align: center;
	}

	&__top {
		@include adaptiv-value('margin-bottom', 80, 30, 1);
		width: 100%;
		max-width: 710px;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__container {
		padding-left: calc((100% - 1140px) / 2);
	}

	&__swiper {
		padding-left: 20px;

		@include mq(sm) {
			padding-left: 0;
		}
	}

	&__items {
		margin-bottom: 60px;

        @include mq(md) {
            margin-bottom: 20px;
        }
	}

	&__item {
		display: flex;
		justify-content: center;
		max-width: 333px;

		@include mq(sm) {
			max-width: 100%;
		}
	}

	.product-card {
		width: 100%;
		max-width: 333px;
	}

	&__bottom {
		padding-right: calc((100% - 1000px) / 2);

        @include mq(xl) {
            padding-right: 20px;
        }

		@include mq(md) {
			flex-direction: column;
            padding: 0;
		}
	}

	&__buttons {
		margin-right: 20px;

		@include mq(md) {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	&__bottom,
	&__buttons {
		@include flex-center-sb;
	}

	&__button {
		@include slider-arrow;
	}
}
