.products {
	width: 100%;
	max-width: 825px;
	padding-top: 45px;

	&__sort {
		margin-bottom: 32px;
		margin-left: auto;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px 25px;
		@include adaptiv-value('margin-bottom', 70, 40, 1);

		@include mq(lg) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mq(sm) {
			grid-template-columns: 255px;
			justify-content: center;
		}
	}

	.product-card {
		&__images {
			height: 300px;
		}
	}

	&__bottom {
		@include flex-center-sb;
		flex-wrap: wrap;

		@include mq(lg) {
			flex-direction: column-reverse;
		}
	}

	&__pagination {
		margin-right: 10px;

		@include mq(lg) {
			margin-right: 0;
		}
	}

	&__button {
		@include mq(lg) {
			margin-bottom: 25px;
		}

		@include mq(sm) {
			width: 100%;
		}
	}
}

