/* stylelint-disable */

@mixin font-face($font-family, $url, $weight) {
    @font-face {
        font-family: "#{$font-family}";
        src: url('../fonts/#{$url}.woff2') format("woff2"),
        url('../fonts/#{$url}.woff') format("woff");
        font-weight: #{$weight};
        font-display: swap;
        font-style: normal;
    }
}

//Poppins
@include font-face(Poppins, Poppins-Regular, 400);
@include font-face(Poppins, Poppins-Medium, 500);
@include font-face(Poppins, Poppins-SemiBold, 600);
@include font-face(Poppins, Poppins-Bold, 700);
@include font-face(Poppins, Poppins-ExtraBold, 800);