body {
	color: $grey-500;
	font-weight: $fw-400;
	font-size: 14px;
	font-family: $poppins, Arial, sans-serif;
	line-height: 2;
	background-color: $white;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.lock {
	overflow: hidden;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 44px;
	color: $white;
	line-height: 1;
	background-color: $violet-400;
	border-radius: 5px;

	&--dark {
		background-color: $black;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

.disable-scroll {
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.logo {
	display: inline-block;
	width: 100%;
	@include adaptiv-value('max-width', 270, 160, 1);
	@include adaptiv-value('height', 33, 20, 1);

	&--large {
		@include adaptiv-value('max-width', 384, 286, 1);
		@include adaptiv-value('height', 48, 35, 1);
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.title {
	@include adaptiv-value('font-size', 42, 28, 1);
	@include adaptiv-value('margin-bottom', 40, 30, 1);
	color: $black;
	font-family: $space;
	line-height: 1;
	text-transform: uppercase;
}

.form {
	&__field {
		width: 100%;
		padding: 17px 30px;
		line-height: 1;
		background-color: $white;
		border-radius: 5px;

		&::placeholder {
			color: $grey-500;
			line-height: 1;
		}

		&--message {
			min-height: 160px;
			resize: none;
		}
	}

	&__text {
		@include adaptiv-value('font-size', 14, 10, 1);
	}

	&__link {
		font-weight: $fw-500;
	}
}

.custome {
	padding: 12px 20px;
	color: $black;
	border: 1px solid $black;
	border-radius: 5px;
	@include flex-all-center;

	&__icon {
		width: 30px;
		height: 30px;
		margin-right: 10px;
		border-radius: 5px;
	}
}

.product-buy {
	&__order {
		@include flex-center-sb;
		margin-bottom: 22px;
	}

	&__price {
		color: $black;
		font-size: 20px;
		line-height: 1;
	}

	&__custome {
		max-width: 100%;
	}

	@include mq(lg) {
		margin-bottom: 30px;
	}
}

.characteristic {
	position: relative;
	font-size: 10px;
	line-height: 2.1;

	&__item {
		display: flex;
		justify-content: space-between;
	}

	&__name {
		width: 30%;
		margin-right: 8px;
	}

	&__meaning {
		width: 68%;
		text-align: right;
	}
}
