/* stylelint-disable */

// * colors
$white: #ffffff;
$black: #000000;

$violet-400: #735cff;

$grey-100: #f9fafe;
$grey-300: #ecedf1;
$grey-400: #dedede;
$grey-500: #939393;

$green-400: #39cbb0;
$red-400: #ff7979;

// * fonts
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;

$poppins: 'Poppins';
$space: 'space-age-pro';
